body {
    font-family: Arial, Helvetica, sans-serif;

}
#heading-div {
    width: 95%;
    justify-self: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
}

.menu-items {
    box-shadow: 1px 1px 5px grey;
    width: 250px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    height: 150px;
    padding: 30px;
    transition: transform 0.3s ease;
}

footer {
    justify-self: center;
    padding: 10px;
    margin-top: 20vh;
    width: 95%;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}

.menu-items:hover {
    cursor: pointer;
    transform: scale(0.85);
    transition: transform 0.2s ease;
}
.div_img{
    height: 100%;
    width: 100%;

}